@model Actors

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new Movie</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <!-- First Name Section-->
                <div class="mb-3">
                    <label for="FirstName" class="form-label">First Name</label>
                    <input class="form-control" id="FirstName" name="FirstName">
                </div>
                <!-- Last Name Section-->
                <div class="mb-3">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input class="form-control" id="LastName" name="LastName">
                </div>
                <!-- ProfilePicture Section-->
                <div class="mb-3">
                    <label for="ProfilePicture" class="form-label">Profile Picture</label>
                    <input class="form-control" id="ProfilePicture" name="ProfilePicture">
                </div>
				<!-- Bio Section-->
                <div class="mb-3">
                    <label for="Bio" class="form-label">Bio</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a Bio here" style="height: 100px" name="Bio"></textarea>
                        <label for="Bio">You Bio Here...</label>
                    </div>
                </div>
                <!-- News Section-->
                <div class="mb-3">
                    <label for="News" class="form-label">News</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a News here" style="height: 100px" name="News"></textarea>
                        <label for="News">You News Here...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = "#";
            preview.style.display = "none";
        }
    }
</script>