@{
    ViewData["Title"] = "Home Page";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">MAXCINA</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            <img class="card-img-top" src="~/img/customer/logo.png" alt="" />
        </div>
    </div>
</header>
<!-- Missing Features -->
<div>
    <h2 class="text-center mt-5">Missing Features</h2>
	<ul class="list-group list-group-flush">
        <li class="list-group-item">1. Implement user authentication and authorization for customer accounts.</li>
        <li class="list-group-item">2. Add a shopping cart functionality to allow users to add and remove items.</li>
        <li class="list-group-item">3. Integrate a payment gateway for processing transactions securely.</li>
        <li class="list-group-item">4. Implement search and filtering options for movies and cinemas.</li>
        <li class="list-group-item">5. Add user reviews and ratings for movies and cinemas.</li>
        <li class="list-group-item">6. Implement pagination for movie listings to improve performance.</li>
        <li class="list-group-item">7. Movie Status.</li>
        <li class="list-group-item">8. Trailer Url.</li>
</div>
<!-- Section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Avillable Page</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Movies Page -->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="" alt="" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Movies Page</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://localhost:7116/customer/home/movies">View Page</a></div>
                    </div>
                </div>
            </div>
            <!-- Cinema Page -->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="" alt="" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Cinema Page</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://localhost:7116/customer/home/Cinema">View Page</a></div>
                    </div>
                </div>
            </div>
            <!-- Admin Home Page -->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="" alt="" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Admin Home Page</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://localhost:7116/admin/home">View Page</a></div>
                    </div>
                </div>
            </div>
            <!-- Movies Admin Page -->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="" alt="" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Movies Admin Page</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://localhost:7116/admin/movies/index">View Page</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
