@{
    ViewData["Title"] = "Home Page";

}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" href="https://localhost:7116/customer/home/movies">Movies</a>
    </div>
</div>
<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" href="https://localhost:7116/customer/home/Cinema">Cinema</a>
    </div>
</div>